# Web Scraping Assignment-1

In [1]:
#Q1 Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’


from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

In [2]:
#Q2 Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

from time import sleep
from random import randint

# Creating the lists we want to write into
titles = []
years = []
imdb_ratings = []

# Getting English translated titles from the movies
headers = {'Accept-Language': 'en-US, en;q=0.5'}

pages = np.arange(0, 200, 100)
pages

# urls of 100 movies 
for page in pages:
    # Getting the contents from the url
    page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc=' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    # Aiming the part of the html we want to get the information from
    movie_div = soup.find_all('div', class_='lister-item mode-advanced')
    
    # Controling the loop’s rate by pausing the execution of the loop for a specified amount of time
    # Waiting time between requests for a number between 2-10 seconds
    sleep(randint(2,10))
    
    
    for container in movie_div:
        # Scraping the movie's name
        name = container.h3.a.text
        titles.append(name)
        
        # Scraping the movie's year
        year = container.h3.find('span', class_='lister-item-year').text
        years.append(year)
        
        # Scraping the rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
       
      
        movies = pd.DataFrame({'Movie':titles,'Year':years,'IMDB_Rating':imdb_ratings,})

movies.head()

movies.dtypes

movies

                           Movie    Year  IMDB_Rating
0       The Shawshank Redemption  (1994)          9.3
1                  The Godfather  (1972)          9.2
2                The Dark Knight  (2008)          9.0
3         The Godfather: Part II  (1974)          9.0
4                   12 Angry Men  (1957)          9.0
..                           ...     ...          ...
95  Once Upon a Time in the West  (1968)          8.5
96                        Psycho  (1960)          8.5
97                   Rear Window  (1954)          8.5
98                    Casablanca  (1942)          8.5
99                  Modern Times  (1936)          8.5

[100 rows x 3 columns]

In [3]:
#Q3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

source = 'https://www.imdb.com/list/ls009997493/'

r = requests.get(source)
htmlContent= r.content
soup= BeautifulSoup(htmlContent,'html.parser')

titles = []
for i in soup.find_all("h3", class_="lister-item-header"):
    titles.append(i.text.replace('\n',''))

    
years = []
for i in soup.find_all("span", class_="lister-item-year"):
    years.append(i.text)
    
movies = soup.find_all ('div',class_='lister-item-content')

IDBM_rating = []
for i in movies:
    IDBM_rating.append(i.find('span',class_='ipl-rating-star__rating').text)
    
IDBM_rating

(len(titles),len(years),len(IDBM_rating))

df = pd.DataFrame({'Movie':titles,'Year':years,'IMDB rating':IDBM_rating})
df

                             Movie    Year IMDB rating
0          1.Rang De Basanti(2006)  (2006)         8.1
1                 2.3 Idiots(2009)  (2009)         8.4
2         3.Taare Zameen Par(2007)  (2007)         8.4
3           4.Dil Chahta Hai(2001)  (2001)         8.1
4   5.Swades: We, the People(2004)  (2004)         8.2
..                             ...     ...         ...
95            96.Wake Up Sid(2009)  (2009)         7.6
96               97.Rangeela(1995)  (1995)         7.5
97    98.Shatranj Ke Khilari(1977)  (1977)         7.7
98     99.Pyaar Ka Punchnama(2011)  (2011)         7.6
99         100.Ek Hasina Thi(2004)  (2004)         7.5

[100 rows x 3 columns]

In [4]:
#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:
#i) Top 10 ODI teams in men’s cricket along with the records for matches, points andrating 

import pandas as pd 
import requests
from bs4 import BeautifulSoup

#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page5 = requests.get(url)
# see content in page5
soup5 = BeautifulSoup(page5.content)
#scrape team names
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = [] #empty list
points = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--points'):# first place team points
    points.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    ratings.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):# other teams ratings
    ratings.append(i.text)
    
# Make data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team_name,Matches,Points,Ratings
0,New Zealand,17,"2,054",121 ...
1,England,32,"3,793",119
2,Australia,28,"3,244",116
3,India,32,"3,624",113
4,South Africa,25,"2,459",98
5,Pakistan,27,"2,524",93
6,Bangladesh,30,"2,740",91
7,West Indies,30,"2,523",84
8,Sri Lanka,32,"2,657",83
9,Afghanistan,17,"1,054",62

In [5]:
#Q4 ii) Top 10 ODI Batsmen in men along with the records of their team and ratin

import pandas as pd 
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page5 = requests.get(url)

soup5 = BeautifulSoup(page5.content)

team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
    
batsmen = [] #empty list
team = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='table-body__cell rankings-table__name name'):
    batsmen.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell rating'):
    ratings.append(i.text.replace("\n",""))


    
# Make data frame of Top 10 ODI Batsmen
icc=pd.DataFrame({})
icc['Batsmen']=batsmen[:10]
icc['Team']=team[:10]
icc['Ratings']=ratings[:10]
icc

           Batsmen Team Ratings
0      Virat Kohli  IND     844
1     Rohit Sharma  IND     813
2      Ross Taylor   NZ     801
3      Aaron Finch  AUS     779
4   Jonny Bairstow  ENG     775
5     David Warner  AUS     762
6        Shai Hope   WI     758
7  Kane Williamson   NZ     754
8  Quinton de Kock   SA     747
9     Fakhar Zaman  PAK     741

In [6]:
#Q4 iii) Top 10 ODI bowlers along with the records of their team andrating.

import pandas as pd 
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page5 = requests.get(url)

soup5 = BeautifulSoup(page5.content)

team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
    
bowlers = [] #empty list
team = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='table-body__cell rankings-table__name name'):
    bowlers.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell rating'):
    ratings.append(i.text.replace("\n",""))


    
# Make data frame of Top 10 ODI Batsmen
icc=pd.DataFrame({})
icc['Bowler']=bowlers[:10]
icc['Team']=team[:10]
icc['Ratings']=ratings[:10]
icc

              Bowler Team Ratings
0     Josh Hazlewood  AUS     709
1   Mujeeb Ur Rahman  AFG     708
2       Chris Woakes  ENG     700
3       Mehedi Hasan  BAN     692
4         Matt Henry   NZ     691
5     Jasprit Bumrah  IND     679
6     Mitchell Starc  AUS     652
7    Shakib Al Hasan  BAN     650
8      Kagiso Rabada   SA     646
9  Mustafizur Rahman  BAN     640

In [7]:
#Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:
#i) Top 10 ODI teams in women’s cricket along with the records for matches, points andrating.

import pandas as pd 
import requests
from bs4 import BeautifulSoup

#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page5 = requests.get(url)
# see content in page5
soup5 = BeautifulSoup(page5.content)

#scrape team names
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
    
matches = [] #empty list
points = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--points'):# first place team points
    points.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    ratings.append(i.text.replace("\n",""))
    
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):# other teams ratings
    ratings.append(i.text)
    

# Make data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team_name,Matches,Points,Ratings
0,Australia,21,"3,379",161 ...
1,England,25,"2,983",119
2,South Africa,29,"3,390",117
3,India,26,"2,934",113
4,New Zealand,26,"2,392",92
5,West Indies,22,"1,872",85
6,Pakistan,20,"1,496",75
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13

In [8]:
#Q5 ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

import pandas as pd 
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page5 = requests.get(url)

soup5 = BeautifulSoup(page5.content)

team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
    
batsmen = [] #empty list
team = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='table-body__cell rankings-table__name name'):
    batsmen.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell rating'):
    ratings.append(i.text.replace("\n",""))

for i in soup5.find_all("td",class_='table-body__cell'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell table-head__cell--rating'):# other teams ratings
    ratings.append(i.text)
    
# Make data frame of Top 10 women’s ODI players
icc=pd.DataFrame({})
icc['Batsmen_Women']=batsmen[:10]
icc['Team']=team[:10]
icc['Ratings']=ratings[:10]
icc

       Batsmen_Women Team Ratings
0       Alyssa Healy  AUS     750
1        Mithali Raj  IND     738
2     Tammy Beaumont  ENG     728
3  Amy Satterthwaite   NZ     717
4    Smriti Mandhana  IND     710
5        Meg Lanning  AUS     699
6        Beth Mooney  AUS     690
7     Heather Knight  ENG     674
8    Laura Wolvaardt   SA     672
9     Rachael Haynes  AUS     668

In [9]:
#Q5 iii) Top 10 women’s ODI all-rounder along with the records of their team andrating.

import pandas as pd 
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page5 = requests.get(url)

soup5 = BeautifulSoup(page5.content)

team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
    
all_rounder = [] #empty list
team = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='table-body__cell rankings-table__name name'):
    all_rounder.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell nationality-logo rankings-table__team'):
    team.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell rating'):
    ratings.append(i.text.replace("\n",""))

for i in soup5.find_all("td",class_='table-body__cell'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell table-head__cell--rating'):# other teams ratings
    ratings.append(i.text)
    
# Make data frame of Top 10 women’s ODI players
icc=pd.DataFrame({})
icc['All_Rounder']=all_rounder[:10]
icc['Team']=team[:10]
icc['Ratings']=ratings[:10]
icc

        All_Rounder Team Ratings
0    Natalie Sciver  ENG     372
1      Ellyse Perry  AUS     365
2   Stafanie Taylor   WI     322
3     Deepti Sharma  IND     299
4  Ashleigh Gardner  AUS     275
5  Dane van Niekerk   SA     274
6     Jess Jonassen  AUS     272
7   Katherine Brunt  ENG     272
8    Jhulan Goswami  IND     251
9     Sophie Devine   NZ     248

In [10]:
#Q6. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

from bs4 import BeautifulSoup
import requests
import re
page = requests.get('https://www.amazon.in/s?k=smartphone+under+20000&rh=n%3A976419031%2Cp_36%3A1318506031&dc&qid=1631345642&rnid=1318502031&ref=sr_nr_p_36_4')
soup=BeautifulSoup(page.content)
page

#here is a problem with amezon website its always shows "Response [503]" untill change the kernel after change the kernel its shows that "Response [200]" after that my codes works for scraping the data from Amezon

In [17]:
#Here is the complete code to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon and include Product Name, Price, Image URL and Average Rating.

from bs4 import BeautifulSoup
import requests
import re
page = requests.get('https://www.amazon.in/s?k=smartphone+under+20000&rh=n%3A976419031%2Cp_36%3A1318506031&dc&qid=1631345642&rnid=1318502031&ref=sr_nr_p_36_4')
soup=BeautifulSoup(page.content)
page

titles = []
for i in soup.find_all("h2", class_="a-size-mini a-spacing-none a-color-base s-line-clamp-2")[0:23]:
    titles.append(i.text.split('|')[0])

price=[] 
for i in soup.find_all('span',class_="a-price-whole")[0:23]: 
    price.append(i.text)

images=[] 
for  i in soup.find_all("img", class_="s-image")[0:23]:
    images.append(i['srcset'])

ratings=[] 
for i in soup.find_all('span',class_="a-icon-alt")[0:23]: 
    ratings.append(i.text.split('out')[0])

(len(titles),len(price),len(images),len(ratings))

import pandas as pd
df=pd.DataFrame({'Product_name':titles,'Price':price,'Images_url':images,'Raring':ratings})
df

,Product_name,Price,Images_url,Raring
0,"OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...","15,990",https://m.media-amazon.com/images/I/71poFSdDs5...,4.2
1,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...","11,490",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.2
2,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","15,999",https://m.media-amazon.com/images/I/71-Su4Wr0H...,4.2
3,"Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB ...","17,999",https://m.media-amazon.com/images/I/81S-XYJlzT...,4.2
4,"Redmi Note 10S (Deep Sea Blue, 6GB RAM, 64GB S...","13,999",https://m.media-amazon.com/images/I/81B0HJigO-...,4.0
5,"Samsung Galaxy M32 5G (Sky Blue, 8GB RAM, 128G...","18,999",https://m.media-amazon.com/images/I/71os5DRhuS...,3.8
6,"OPPO A74 5G (Fantastic Purple,6GB RAM,128GB St...","15,990",https://m.media-amazon.com/images/I/71geVdy6-O...,4.2
7,"Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128G...","16,999",https://m.media-amazon.com/images/I/71os5DRhuS...,3.8
8,"realme narzo 30 (Racing Blue, 6GB RAM, 128GB S...","15,499",https://m.media-amazon.com/images/I/719tm7l723...,4.0
9,"iQOO Z3 5G (Cyber Blue, 6GB RAM, 128GB Storage)","17,990",https://m.media-amazon.com/images/I/615CXlFtDD...,4.3
10,"Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...","14,999",https://m.media-amazon.com/images/I/71F4jU7MRU...,4.2
11,"Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storag...","11,499",https://m.media-amazon.com/images/I/71r69Y7BSe...,4.1
12,"Samsung Galaxy M32 5G (Slate Black, 6GB RAM, 1...","16,999",https://m.media-amazon.com/images/I/71QT7dSK4B...,3.8
13,"Vivo Y12s (Phantom Black, 3GB, 32GB ) with No ...","10,990",https://m.media-amazon.com/images/I/71UAi2jwsN...,4.2
14,"iQOO Z3 5G (Ace Black, 6GB RAM, 128GB Storage)","17,990",https://m.media-amazon.com/images/I/61uIgwiP90...,4.3
15,"Samsung Galaxy M32 (Black, 4GB RAM, 64GB Stora...","12,999",https://m.media-amazon.com/images/I/71Q3iSQAwA...,4.2
16,"Vivo Y21 (Diamond Glow, 4GB RAM, 64GB Storage)...","13,990",https://m.media-amazon.com/images/I/51GkJLzb9N...,3.8
17,"Samsung Galaxy M51 (Celestial Black, 6GB RAM, ...","19,999",https://m.media-amazon.com/images/I/713AhSUtbH...,4.4
18,"realme narzo 50A (Oxygen Green, 4GB RAM + 128G...","12,499",https://m.media-amazon.com/images/I/718CklLKXm...,4.0
19,"Vivo Y12s (Glacier Blue, 3GB, 32GB ) with No C...","10,990",https://m.media-amazon.com/images/I/71MeL149KB...,4.2
20,"realme narzo 50A (Oxygen Blue, 4GB RAM + 128GB...","12,499",https://m.media-amazon.com/images/I/71hgVYiuFX...,3.9
21,Redmi 10 Prime (Bifrost Blue 6GB RAM 128GB ROM,"14,499",https://m.media-amazon.com/images/I/81di9YjMe-...,3.6
22,"Realme C25Y (Metal Grey, 4GB RAM, 128GB Storag...","11,648",https://m.media-amazon.com/images/I/41+r5uIAAA...,4.0

In [12]:
#Q7. Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"

from bs4 import BeautifulSoup
import requests
import re
page = requests.get('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0')

soup=BeautifulSoup(page.content)
page

# House title
title = soup.find('h2',class_="heading-6 font-semi-bold nb__1AShY")
title.text

# Location
loc = soup.find('div',class_="nb__35Ol7")
loc.text.split(',')[1]


# Area in square feet
area = soup.find('div',class_="nb__3oNyC")
area.text


# EMI
emi = soup.find('div',class_="nb__17R6o")
emi.text.split('₹')[2]


# Price
emi = soup.find('div',class_="nb__17R6o")
emi.text.split('₹')[3]


titles=[]

for i in soup.find_all("h2", class_="heading-6 font-semi-bold nb__1AShY"):
    titles.append(i.text)
    
titles


location=[] 

for i in soup.find_all("div", class_="nb__35Ol7"):
    location.append(i.text)
     
location


area=[] 

for i in soup.find_all("div", class_="nb__3oNyC"):
    area.append(i.text)
     
area


emi=[] 

for i in soup.find_all('div',class_="nb__17R6o"):
    emi.append(i.text.split('₹')[2])
     
emi


price=[] 

for i in soup.find_all('div',class_="nb__17R6o"):
    price.append(i.text.split('₹')[3])
     
price

(len(titles),len(location),len(area),len(emi),len(price))

import pandas as pd
df=pd.DataFrame({'House_Title':titles,'Location':location,'Area':area,'EMI':emi,'Price':price})
df

,House_Title,Location,Area,EMI,Price
0,4 BHK In Independent House For Sale In Hebba...,"Independent House, Bangalore - Hosur Road, Nea...","1,800 sqft","77,374/MonthEstimated EMI",1.35 Crores
1,4 BHK Apartment For Sale In Nisarga Residenc...,"Nisarga Residency Near Thali Resturant, Anant...","2,000 sqft","45,851/MonthEstimated EMI",80 Lacs
2,4 BHK Flat For Sale In Sobha Silicon Oasis ...,"Sobha Silicon Oasis Naganathapura, Rayasandra ...","1,879 sqft","9,170/MonthEstimated EMI",16 Lacs
3,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys Garden Kammasandra Rd, Kammasandra, El...","2,600 sqft","85,971/MonthEstimated EMI",1.5 Crores
4,"4 BHK Flat For Sale In , Electronic City","Standalone Building, 16th Cross Road Neeladri ...","2,000 sqft","39,546/MonthEstimated EMI",69 Lacs
5,"4 BHK Flat For Sale In Hosa Road, Parappana ...","Standalone Building, 11th cross.anjanadri lay ...","3,000 sqft","71,643/MonthEstimated EMI",1.25 Crores
6,4 BHK In Independent House For Sale In Elect...,"Independent House, surya nagar face 1Explore N...","3,000 sqft",1.43 Lacs/MonthEstimated EMI,2.5 Crores
7,4 BHK In Independent House For Sale In Elect...,"Independent House, Hosur Rd,Near Infosys Limit...","1,200 sqft","42,985/MonthEstimated EMI",75 Lacs
8,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft","68,777/MonthEstimated EMI",1.2 Crores
9,4 BHK For Sale In Gpr Royale In Gpr Royale,6th CrossExplore Nearby,"3,100 sqft","85,971/MonthEstimated EMI",1.5 Crores

In [13]:
#Q8. Write a python program to scrape mentioned details from ‘https://www.dineout.co.in/delhi-restaurants/buffet-special’ :

from bs4 import BeautifulSoup
import requests
import re
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

soup=BeautifulSoup(page.content)


#<i> Restaurant name
rst_nm = soup.find('div',class_="restnt-info cursor")
rst_nm.text


#<ii> Cuisine
csn=soup.find('span',class_="double-line-ellipsis")
csn.text.split('|')[1]

#<iii> Location
loc=soup.find('div',class_="restnt-loc ellipsis")
loc.text

#<iv> Ratings
rate=soup.find('div',class_="restnt-rating rating-3")
rate.text

#<v> Image URL
img=soup.find("img", class_="no-img")
img['data-src']


titles=[]

for i in soup.find_all("div", class_="restnt-info cursor"):
    titles.append(i.text)
    
titles


cuisine=[]

for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
    
cuisine


location=[] 

for i in soup.find_all("div", class_="restnt-loc ellipsis"):
    location.append(i.text)
     
location

rating=[]

for i in soup.find_all("div", class_="restnt-rating rating-3"):

    rating.append(i.text)

for i in soup.find_all("div", class_="restnt-rating rating-4"):

    rating.append(i.text)

rating


images=[] 

for  i in soup.find_all("img", class_="no-img"):

    images.append(i['data-src'])

images


(len(titles),len(cuisine),len(location),len(rating),len(images))


import pandas as pd
df=pd.DataFrame({'Resturent_name':titles,'Cuisine':cuisine,'Location':location,'Ratings':rating,'Images_url':images,})
df

,Resturent_name,Cuisine,Location,Ratings,Images_url
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",3.4,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","North Indian, Barbecue, Italian, Asian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","North Indian, Chinese","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,"The Barbeque CompanyGardens Galleria,Sector 38...","Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria,Sector 38A, Noida",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Multi-Cuisine, North Indian, Italian, Contine...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian, Oriental","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai, Barbecue","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","North Indian, Mughlai","Sector 29, Faridabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","Barbecue, Chinese, North Indian","NIT, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"Multi-Cuisine, Asian, European, Italian, Nort...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

In [14]:
#Q9. Write a python program to scrape weather details for last 24 hours from ‘https://en.tutiempo.net/delhi.html?data=last-24- hours’ :
#i) Hour
#ii) Temperature
#iii) Wind
#iv) Weather condition
#v) Humidity
#vi) Pressure


import pandas as pd 
import requests
from bs4 import BeautifulSoup

#send get request to the webpage server to get the source code of the page
url = "https://en.tutiempo.net/delhi.html?data=last-24-hours"
page9 = requests.get(url)
# see content in page5
soup9 = BeautifulSoup(page9.content)

hour = [] 
temperature=[] 
wind = [] 
weather_condition= []
humidity = [] 
pressure= [] 
new_list = [] 

for i in soup9.find_all("td",class_='t Temp')[0:24]:
    temperature.append(i.text)
    if i.previous_sibling.previous_sibling is not None:
        hour.append(i.previous_sibling.previous_sibling.text)
    else:
        hour.append(' ')

for i in soup9.find_all("td",class_='wind')[0:24]:
    wind.append(i.text)
    if i.previous_sibling.previous_sibling is not None:
        weather_condition.append(i.previous_sibling.previous_sibling.text)
    else:
        weather_condition.append(' ')
for i in soup9.find_all("td",class_='hr')[0:24]:
    humidity.append(i.text)
    
for i in soup9.find_all("td",class_='prob')[0:24]:
    pressure.append(i.text)
pressure


(len(hour),len(temperature),len(weather_condition),len(humidity),len(pressure))

import pandas as pd
df=pd.DataFrame({'Hour':hour,'Tempreature':temperature,'Weather_condition':weather_condition,'Humidity':humidity,'Pressure':pressure,})
df

     Hour Tempreature Weather_condition Humidity  Pressure
0   18:00        26°C              Mist      54%  1013 hPa
1   17:30        26°C              Mist      54%  1013 hPa
2   17:00        26°C              Mist      58%  1013 hPa
3   16:30        27°C              Mist      54%  1013 hPa
4   16:00        27°C              Mist      54%  1013 hPa
5   15:30        28°C              Mist      48%  1013 hPa
6   15:00        28°C              Mist      45%  1013 hPa
7   14:30        28°C              Mist      45%  1014 hPa
8   14:00        28°C              Mist      48%  1014 hPa
9   13:30        28°C              Mist      48%  1014 hPa
10  13:00        27°C              Mist      51%  1015 hPa
11  12:30        27°C              Mist      51%  1015 hPa
12  12:00        26°C              Mist      54%  1016 hPa
13  11:30        25°C              Mist      54%  1017 hPa
14  11:00        23°C    Widespread Fog      53%  1017 hPa
15  10:30        23°C    Widespread Fog      53%  1017 hPa
16  10:00        22°C    Widespread Fog      57%  1017 hPa
17  09:30        22°C    Widespread Fog      57%  1017 hPa
18  09:00        21°C    Widespread Fog      60%  1017 hPa
19  08:30        20°C    Widespread Fog      64%  1017 hPa
20  08:00        19°C    Widespread Fog      68%  1016 hPa
21  07:30        19°C    Widespread Fog      68%  1016 hPa
22  06:00        19°C    Widespread Fog      68%  1016 hPa
23  05:30        19°C    Widespread Fog      73%  1015 hPa

In [15]:
#10. Write a python program to scrape monument name, monument description, image url about top 10 monuments from 'https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/'


from bs4 import BeautifulSoup
import requests
import pandas as pd

#Fatching content of page that has top 10 famous monuments in india
url='https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/' 

response = requests.get(url) #in order to work with html we need to get it as string
soup= BeautifulSoup(response.content,'html.parser')

title = soup.find('h3',class_="title title--heading")

#Scraping data
data = soup.find_all('div', class_="blog--single__content column--3-4 u-spacing-third")
temp=[]
for i in data:
    for j in i.find_all('p'):
        t = j.text.replace('\n', '') # only extracting data
        temp.append(t)
        
name=[] #Monument name
for i in range(1,30,3):
    name.append(temp[i])
    
description=[] #Monument Description
for i in range(2,30,3):
    description.append(temp[i])
    
images=[] #Scraping all image url
for i in soup.find_all('img'):
    images.append(i['src'])
image_url=[]
for i in range(6,26,2):
    image_url.append(images[i])

    

(len(name),len(description),len(image_url))

import pandas as pd
df=pd.DataFrame({'Monument_name':name,'Description':description,'Image_url':image_url})
df

,Monument_name,Description,Image_url
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",http://www.puredestinations.co.uk/wp-content/u...
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,http://www.puredestinations.co.uk/wp-content/u...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,http://www.puredestinations.co.uk/wp-content/u...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,http://www.puredestinations.co.uk/wp-content/u...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,http://www.puredestinations.co.uk/wp-content/u...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",http://www.puredestinations.co.uk/wp-content/u...
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,http://www.puredestinations.co.uk/wp-content/u...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,http://www.puredestinations.co.uk/wp-content/u...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",http://www.puredestinations.co.uk/wp-content/u...
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,http://www.puredestinations.co.uk/wp-content/u...