# Web Scraping Assignment4

In [17]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
    
    
A) Rank


B) Name


C) Artist


D) Upload date


E) Views

In [4]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

time.sleep(2)

<ipython-input-4-0b3b81ebae83>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [5]:
#names of the video
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
except StaleElementReferenceException:
    name.append('No details available')
    
time.sleep(2)    


#rank of the video
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
except StaleElementReferenceException:
    rank.append('No details available')

time.sleep(2)

<ipython-input-5-767ec7aca8bd>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
<ipython-input-5-767ec7aca8bd>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")

In [6]:
#artist of the video
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('No details available')
except StaleElementReferenceException:
    artist.append('No details available')
    
time.sleep(2) 



#views of the video
views=[]
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException:
    views.append('No details available')
except StaleElementReferenceException:
    views.append('No details available')
    
time.sleep(2)

<ipython-input-6-61ee5db9bbf2>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
<ipython-input-6-61ee5db9bbf2>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")

In [7]:
#views of the video
upload_date=[]
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('No details available')
except StaleElementReferenceException:
    upload_date.append('No details available')
    
time.sleep(2)

<ipython-input-7-4ee0c265eddc>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")

In [8]:
#dataframe
df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})
df

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.87
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.67
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.04
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.56
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.36
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.77
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.47
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.40
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.36
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.28
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.77
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.61
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.49
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.42
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.20
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.19
21,22.,"""Bailando""[39]",Enrique Iglesias,"April 11, 2014",3.14
22,23.,"""Axel F""[40]",Crazy Frog,"June 16, 2009",3.14
23,24.,"""Lean On""[41]",Major Lazer,"March 22, 2015",3.14
24,25.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.04
27,28.,"""Mi Gente""[45]",J Balvin,"June 29, 2017",3.02
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.01
29,30.,"""Baa Baa Black Sheep""[47]",Cocomelon – Nursery Rhymes,"June 25, 2018",2.99

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
    
    
A) Match title (I.e. 1st ODI)


B) Series


C) Place


D) Date


E) Time


Note: - From bcci.tv home page you have reach to the international fixture page through code

In [9]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")
time.sleep(2)


url = "https://www.bcci.tv/"
driver.get(url)

time.sleep(2)

<ipython-input-9-eb42769c04f5>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [10]:
#going to international fixtures page
fixtures=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))
    

time.sleep(2)

<ipython-input-10-bc9744b1de9c>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  fixtures=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")

In [11]:
#match details urls from xpath    
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")  
for i in match_page:
    urls.append(i.get_attribute('href'))
  
    
time.sleep(1)

<ipython-input-11-a21bb35e3af8>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")

In [12]:
#empty lists
match=[] 
series=[]
place=[]
date=[]
Time=[]
all_text = []
venue = []

In [15]:
for i in urls:                 
    driver.get(i)
    
    time.sleep(2)
    #match title
    try:                    
        match_title=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
        match.append(match_title.text)
    except NoSuchElementException:
        match.append('No details available')
    
    time.sleep(2)
    #series title    
    try:
        series_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        series.append(series_title.text)
    except NoSuchElementException:
        series.append("No details Available")
    
    time.sleep(2)
    #date of match 
    try:
        date_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        date.append(date_title.text)
    except NoSuchElementException:
        date.append("No details Available")      
    
    time.sleep(2)
    #time of the match    
    try:
        time_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        Time.append(time_title.text)
    except NoSuchElementException:
        Time.append("No details Available")    
      
    time.sleep(2)
     #match venue    
    try:
        place_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        venue.append(place_title.text)
    except NoSuchElementException:
        place.append("No details Available")

<ipython-input-15-d222de5bda1d>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  match_title=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
<ipython-input-15-d222de5bda1d>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  series_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
<ipython-input-15-d222de5bda1d>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  date_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
<ipython-input-15-d222de5bda1d>:31: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  time_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
<ipython-input-15-d222de5bda1d>:39: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  place_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")

In [16]:
# split place from text
for i in venue:
    all_text.append(i.split())
for i in all_text:
    place.append(i[-1::]) 
    
time.sleep(2)

In [17]:
#dataframe
df=pd.DataFrame({"Match":match,
                "Series":series,
                "Place":place,
                "Date":date,
                "Time":Time})
df

,Match,Series,Place,Date,Time
0,3RD TEST,South Africa v India,[Town],Tuesday 11 January,14:00 IST
1,1ST ODI,South Africa v India,[Paarl],Wednesday 19 January,14:00 IST
2,2ND ODI,South Africa v India,[Paarl],Friday 21 January,14:00 IST
3,3RD ODI,South Africa v India,[Town],Sunday 23 January,14:00 IST
4,1ST ODI,India v West Indies,[Ahmedabad],Sunday 6 February,13:00 IST
5,2ND ODI,India v West Indies,[Jaipur],Wednesday 9 February,13:00 IST
6,3RD ODI,India v West Indies,[Kolkata],Saturday 12 February,13:00 IST
7,1ST T20I,India v West Indies,[Cuttack],Tuesday 15 February,19:00 IST
8,2ND T20I,India v West Indies,[Visakhapatnam],Friday 18 February,19:00 IST
9,3RD T20I,India v West Indies,[Thiruvananthapuram],Sunday 20 February,19:00 IST
10,1ST TEST,India v Sri Lanka,[Bangalore],Friday 25 February,09:30 IST
11,2ND TEST,India v Sri Lanka,[Chandigarh],Saturday 5 March,09:30 IST
12,1ST T20I,India v Sri Lanka,[Chandigarh],Sunday 13 March,19:00 IST
13,2ND T20I,India v Sri Lanka,[Dharamsala],Tuesday 15 March,19:00 IST
14,3RD T20I,India v Sri Lanka,[Lucknow],Friday 18 March,19:00 IST
15,1ST T20I,India v South Africa,[Chennai],Thursday 9 June,19:00 IST
16,2ND T20I,India v South Africa,[Bangalore],Sunday 12 June,19:00 IST
17,3RD T20I,India v South Africa,[Nagpur],Tuesday 14 June,19:00 IST
18,4TH T20I,India v South Africa,[Rajkot],Friday 17 June,19:00 IST
19,5TH T20I,India v South Africa,[Delhi],Sunday 19 June,19:00 IST

Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
    
    
A) Name


B) Description


Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [76]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)

# Opening the guru99.com
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)

<ipython-input-76-81636d5157a1>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [77]:
selenium_link=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
try:
    selenium_link.click()
except ElementNotInteractableException:          
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

<ipython-input-77-4fc75ced0f7b>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  selenium_link=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")

In [78]:
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:    
    driver.get(exception_handle_link.get_attribute('href'))              
time.sleep(2)

<ipython-input-78-eb335aef8ef5>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")

In [79]:
#names
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:             
    name.append('No details available')
time.sleep(2)   



#description
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')
time.sleep(2)

<ipython-input-79-3294735c8e27>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
<ipython-input-79-3294735c8e27>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")

In [80]:
#creating dataframe
df=pd.DataFrame({"Exception_name":name,
                "Description":desc})
df

,Exception_name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
    
A) Rank


B) State


C) GSDP


D) GSDP


E) Share 


F) GDP($ billion)


Note: - From statisticstimes home page you have to reach to economy page through code.

In [30]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)


url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

<ipython-input-30-eeca7f533187>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [31]:
#clicking on economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)

<ipython-input-31-bbd15a815609>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")

In [32]:
#clicking on gdp of indian states
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)

<ipython-input-32-b8b12d5e85b5>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

In [33]:
#rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 
    rank.append('No details available')
time.sleep(2)

<ipython-input-33-d8380cce97ad>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")

In [34]:
#States
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                
    State.append('No details available')
time.sleep(2)

<ipython-input-34-cf3b2d53092e>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")

In [35]:
#GSDP(19-20)
GSDP_20=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:          
    GSDP_20.append('No details available')
time.sleep(2)

<ipython-input-35-cbccdfc1b414>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")

In [36]:
#GSDP(18-19)
GSDP_19=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        
    GSDP_19.append('No details available')
time.sleep(2)

<ipython-input-36-06473653aefd>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")

In [37]:
#share (18-19)
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          
    share.append('No details available')
time.sleep(2)

<ipython-input-37-379f3fe83aa3>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")

In [38]:
#GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:           
    GDP_billion.append('No details available')
time.sleep(2)

<ipython-input-38-0093c1d1a80a>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")

In [39]:
#creatng dataframe
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
    
    
You have to find the following details:
    
    
A) Repository title


B) Repository description


C) Contributors count


D) Language used


Note: - From the home page you have to click on the trending option from Explore menu through code.

In [69]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)


url = "https://github.com/"
driver.get(url)
time.sleep(3)

<ipython-input-69-6e317c08a196>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [70]:
#option button
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore.click()
time.sleep(2)

#finding
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[1]/a")
try:
    explore.click()
except:
    driver.get(explore.get_attribute('href'))
time.sleep(2)

<ipython-input-70-4cb6273fa97c>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
<ipython-input-70-4cb6273fa97c>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[1]/a")

In [73]:
#empty lists    
repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

In [74]:
#repositories urls
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2) 




#repositories title
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:
    repo_title.append('No details available')
time.sleep(3)
    

for i in repo_urls:
    driver.get(i)
    l=[]
    time.sleep(3)
    
    try:
        repo = driver.find_element_by_xpath("/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p")
        repo_desc.append(repo.text)
    except NoSuchElementException:
        repo_desc.append('-')
    
    
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('No details available')
    time.sleep(2)
    
      
    languages=driver.find_elements_by_xpath("//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)   
    
time.sleep(2)

<ipython-input-74-8e7d4715cca3>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
<ipython-input-74-8e7d4715cca3>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

In [75]:
#creating dataframe
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df

Empty DataFrame
Columns: [Title, Description, Contributors_count, Language_used]
Index: []

Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
    
    
A) Song name


B) Artist name


C) Last week rank


D) Peak rank


E) Weeks on board


Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [18]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

<ipython-input-18-247410c08855>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [19]:
#For click on hot 100 songs link
charts=driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
time.sleep(2)

<ipython-input-19-7a480db80f69>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  charts=driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a")

In [20]:
#song names
song_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:       
    song_name.append('No details available')
time.sleep(2)

<ipython-input-20-8725efdeb1c8>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")

In [21]:
#artist_names 
artist_name=[]
try:
    names=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:       
    artist_name.append('No details available')
time.sleep(2)

<ipython-input-21-b760a1085dd2>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")

In [22]:
#last week rank
last_week_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:        
    last_week_rank.append('No details available') 
time.sleep(2)

<ipython-input-22-a41fb3dfca0d>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")

In [23]:
#peak rank
peak_rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:      
    peak_rank.append('No details available')
time.sleep(2)

<ipython-input-23-6db1b9137c5f>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")

In [24]:
#weeks on chart
weeks=[]
try:
    week_count=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:         
    weeks.append('No details available')
time.sleep(2)

<ipython-input-24-66fb0804fb46>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  week_count=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

In [26]:
#dataframe
df=pd.DataFrame({'Song_Name':song_name,
                 'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})
df

Empty DataFrame
Columns: [Song_Name, Artist_Name, Last_week_rank, Peak, Weeks_on_chart]
Index: []

Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
    
    
A) Name


B) Designation


C) Company


D) Skills they hire for


E) Location


Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [33]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)


url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

<ipython-input-33-c5e6f8df3571>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [34]:
#clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))
time.sleep(1)

#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(1)

#clicking on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)

<ipython-input-34-9ed1a2f34a7b>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
<ipython-input-34-9ed1a2f34a7b>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath("//input[@class='sugInp']")
<ipython-input-34-9ed1a2f34a7b>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")

In [35]:
#names
name=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:          
    name.append('No details available')
time.sleep(2)

<ipython-input-35-3108120ed8ef>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")

In [36]:
#designation
designation=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:   
    designation.append('No details available')
time.sleep(2)

<ipython-input-36-d9cfd1779aa3>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")

In [37]:
#scrapping company names
company=[]
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        company.append(i.text)
except NoSuchElementException:
    company.append('No details available')
time.sleep(2)

<ipython-input-37-ae5c159c6f9d>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")

In [38]:
#location names
location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")
time.sleep(2)

In [39]:
#skills they hire for
skill=[]
try:
    skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:       
    skill.append('No details available')
time.sleep(2)

<ipython-input-39-daec7e608c59>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")

In [40]:
#dataframe
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                "Location":location,
                'Skills I hire':skill})
df

,Name,Designation,Company,Location,Skills I hire
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,No details available,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
30,Avodha,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S..."
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
32,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
34,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
35,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
36,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
41,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
44,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
46,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
47,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
48,Amir Chowdhury,Managing Partner,Granular.ai,No details available,"Machine Learning, Data Science, Product Manage..."
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."

Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

    
A) Book name


B) Author name


C) Volumes sold


D) Publisher


E) Genre

In [41]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)


url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

<ipython-input-41-9eacaad8debf>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [42]:
#book names
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              
    book_name.append('No details available')
time.sleep(2)

<ipython-input-42-59ead20031fc>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

In [43]:
#author names
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('No details available')
time.sleep(2)

<ipython-input-43-4e6bb83eb5cb>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

In [44]:
#sale
Sale=[]
try:
    sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sale:
        Sale.append(i.text)
except NoSuchElementException:
    Sale.append('No details available')
time.sleep(2)

<ipython-input-44-f7653d85da52>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

In [45]:
#publisher
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('No details available')
time.sleep(2)

<ipython-input-45-8543c8660099>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

In [46]:
#genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('No details available')
time.sleep(2)

<ipython-input-46-c52a0fd6823a>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

In [47]:
#creating dataframe
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':Sale,
                'Publisher':publisher,
                'Genre':genre})
df

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com

Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: 
        
        
A) Name 
        

B) Year span 
        

C) Genre 
        

D) Run time 
        

E) Ratings 
        

F) Votes

In [48]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)



url = "https://www.imdb.com/list/ls095964455"
driver.get(url)
time.sleep(2)

<ipython-input-48-a26bb8b6f957>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [49]:
#name of webseries
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:
    name.append('No details available')
time.sleep(2)

<ipython-input-49-c13c434d379f>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")

In [50]:
#year of release
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:
    years.append('No details available')
time.sleep(2)

<ipython-input-50-9212d42c67a7>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")

In [51]:
#genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('No details available')
time.sleep(2)

<ipython-input-51-8372df64695a>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genres=driver.find_elements_by_xpath("//span[@class='genre']")

In [52]:
#run_time
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('No details available')
time.sleep(2)

<ipython-input-52-1b7c2316594c>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//span[@class='runtime']")

In [53]:
#rating
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('No details available')
time.sleep(2)

<ipython-input-53-560bf5bb903b>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

In [54]:
#votes
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('No details available')
time.sleep(2)

<ipython-input-54-54bcaf79b98f>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//span[@name='nv']")

In [55]:
#dataframe
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})
df

,Name,years,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,919,033"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"944,079"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"918,368"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"274,965"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,349"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,891"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,681"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"181,882"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,022"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"216,019"

10. Details of Datasets from UCI machine learning repositories.


Url = https://archive.ics.uci.edu/
    
    
You have to find the following details:

    
A) Dataset name


B) Data type


C) Task


D) Attribute type


E) No of instances


F) No of attribute


G) Year


Note: - from the home page you have to go to the ShowAllDataset page through code

In [57]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe") 
time.sleep(2)


url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

<ipython-input-57-c2d4233abb64>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32/chromedriver.exe")

In [58]:
#all datasets link
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()
time.sleep(1)

<ipython-input-58-c2eadd81910b>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  show=driver.find_element_by_xpath("//a[@href='datasets.php']")

In [59]:
#dataset names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
time.sleep(2)

<ipython-input-59-5945cb9680e1>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")

In [60]:
#scraping data type
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
time.sleep(2)

<ipython-input-60-36c275219912>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")

In [61]:
#dataset names
default_task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")
time.sleep(2)

<ipython-input-61-7f0c7bb3fcbb>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")

In [62]:
#dataset names
attr_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")
time.sleep(2)

<ipython-input-62-6a419dc21b80>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")

In [63]:
#dataset names
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")
time.sleep(2)

<ipython-input-63-e5137567b3c0>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")

In [64]:
#scraping dataset names
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")
time.sleep(2)

<ipython-input-64-804c3794af11>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")

In [65]:
#dataset names
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")
time.sleep(2)

<ipython-input-65-e8aa77c49cea>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")

In [66]:
#dataframe
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})
df

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021